public-hoist-pattern[]=expo-modules-autolinking
public-hoist-pattern[]=@expo/config-plugins
public-hoist-pattern[]=@expo/config
public-hoist-pattern[]=expo-asset
public-hoist-pattern[]=@react-native/assets-registry
public-hoist-pattern[]=babel-preset-fbjs
public-hoist-pattern[]=@expo/metro-runtime
public-hoist-pattern[]=@expo/vector-icons
