# API Test Environment Variables
# This file is a template. Copy it to .env.test and fill in your actual values.

NODE_ENV=test

PORT=3002
FRONTEND_URL="http://localhost:3003"

# DATABASE_URL is constructed using variables from the root .env.test file
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
